.label{
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-font-family: Arial;
}

.button{
    -fx-background-color:  #5ed656;
    -fx-cursor: hand;
    -fx-pref-height: 30px;
    -fx-pref-width: 120px;

    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.button:hover {
    -fx-background-color: #56c44f;
}

.choice-box {
    -fx-background-color: #56c44f;
    -fx-control-inner-background: #56c44f;
    -fx-selection-bar: #008000;
    -fx-selection-bar-text-fill: "white";
    -fx-pref-width: 120px;
}

.menu-button{
    -fx-background-color:  #5ed656;
    -fx-cursor: hand;
    -fx-pref-height: 30px;
    -fx-pref-width: 120px;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.menu-button:hover {
    -fx-background-color: #56c44f;
}

.hide{
    -fx-background-image: url("../images/hideButton.png");
    -fx-background-size: 100% 100%;
    -fx-background-color: none;
}
.minmax{
    -fx-background-image: url("../images/minMaxButton.png");
    -fx-background-size: 100% 100%;
    -fx-background-color: none;
}
.close{
    -fx-background-image: url("../images/closeButton.png");
    -fx-background-size: 100% 100%;
    -fx-background-color: none;
}

.close:hover{
    -fx-background-image: url("../images/closeHoverButton.jpg");
    -fx-background-color: none;
}

.minmax:hover{
    -fx-background-image: url("../images/minMaxHoverButton.jpg");
    -fx-background-color: none;
}

.hide:hover{
    -fx-background-image: url("../images/hideHoverButton.jpg");
    -fx-background-color: none;
}