.button{
    -fx-background-color:  #5ed656;
    -fx-cursor: hand;
    -fx-pref-height: 30px;
    -fx-pref-width: 120px;
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.button:hover {
    -fx-background-color: #56c44f;
}


.hide{
    -fx-background-image: url("../images/hideButton.png");
    -fx-background-size: 100% 100%;
    -fx-background-color: none;
}
.minmax{
    -fx-background-image: url("../images/minMaxButton.png");
    -fx-background-size: 100% 100%;
    -fx-background-color: none;
}
.close{
    -fx-background-image: url("../images/closeButton.png");
    -fx-background-size: 100% 100%;
    -fx-background-color: none;
}

.close:hover{
    -fx-background-image: url("../images/closeHoverButton.jpg");
    -fx-background-color: none;
}

.minmax:hover{
    -fx-background-image: url("../images/minMaxHoverButton.jpg");
    -fx-background-color: none;
}

.hide:hover{
    -fx-background-image: url("../images/hideHoverButton.jpg");
    -fx-background-color: none;
}





.choice-box{
    -fx-background-color:  #5ed656;
    -fx-cursor: hand;
    -fx-pref-height: 30px;
    -fx-pref-width: 120px;
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.choice-box:hover {
    -fx-background-color: #56c44f;
}

.choice-box.label {
    -fx-pref-width: 107px;
}

.choice-box:focused {
    -fx-pref-width: 120px;
}

.choice-box:focused .label {
    -fx-pref-width: 88px;
}



.menu-button{
    -fx-background-color:  #5ed656;
    -fx-cursor: hand;
    -fx-pref-height: 30px;
    -fx-pref-width: 120px;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.menu-button:hover {
    -fx-background-color: #56c44f;
}

.menu-button.label {
    -fx-pref-width: 108px;
}

.menu-button:focused {
    -fx-pref-width: 120px;
}

.menu-button:focused .label {
    -fx-pref-width: 108px;
}