#loginImage{
    -fx-fill: url("/images/login-bg.jpg");
}


.input{
    -fx-padding: 5px 0px;
    -fx-border-color: rgba(21, 230, 188,0.3);
    -fx-border-style: hidden hidden solid hidden;
    -fx-background-color: inherit;
    -fx-border-width: 2px;
}

.input:focused{
    -fx-border-color: rgba(21, 230, 188,1);
}

#loginButton{
    -fx-text-fill: rgb(110, 50, 41);
    -fx-background-color: rgba(41, 135, 116, 0.5);
    -fx-padding: 5px 8px;
    -fx-background-radius: 25%;
}

#errorMessage{
    -fx-text-alignment: center;
}

#loginButton:hover{
    -fx-background-color: rgba(41, 135, 116, 1);
}

#welcomeText{
    -fx-fill:linear-gradient(rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}